- content_for :head_last do
  %script{:src => "/plugin/lokka-picasa_files/views/js/upload_files.js", :type => "text/javascript"}
  %script{:src => "/plugin/lokka-picasa_files/views/js/editor.js", :type => "text/javascript"}
= haml :"plugin/lokka-picasa_files/views/aside"
